:root {
    --saber-r: 0;
    --saber-g: 0;
    --saber-b: 255;

    --saber-color: rgba(var(--saber-r), var(--saber-g), var(--saber-b), 1);
    --saber-color-gradient: rgba(var(--saber-r), var(--saber-g), var(--saber-b), .7);
    --saber-box-shadow: rgba(var(--saber-r), var(--saber-g), var(--saber-b), .5);
    --saber-highlight: rgba(255, 255, 255, .5);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: none;
}

button {
    cursor: none;
}
  
#custom-cursor {
    position: absolute;
    width: 10px;
    height: 40px;
    background-color: #1f1f1fdd;
    border-radius: 0 0 5px 5px;
    border: 2px solid #888686;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    pointer-events: none;
    transform-origin: 50% 50%;
}
  
#blade {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 0;
    background: linear-gradient(to bottom, var(--saber-color), var(--saber-color-gradient));
    box-shadow: 0 0 20px 10px var(--saber-box-shadow), 0 0 20px 10px var(--saber-highlight);
    border-radius: 5px 5px 0 0;
    transition: height 0.2s ease-in-out;
}

#output {
    color: yellow;
    font-family: "Star Jedi", sans-serif;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    padding: 20px;
}

@keyframes crawl {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(calc(-100% + 60vh));
    }
}

#output::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: crawl 120s linear infinite;
}

.attacking-tie-fighter {
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}

.attacking-tie-fighter .body {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5) inset;
}

.attacking-tie-fighter .left-wing, .attacking-tie-fighter .right-wing {
    width: 20px;
    height: 40px;
    background-color: #000;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.attacking-tie-fighter .left-wing {
    left: -20px;
}

.attacking-tie-fighter .right-wing {
    right: -20px;
}
